.company_info{
  min-height: 41px;
  color: white !important;
  text-align: center;
  font-weight: bold;
}
.breadcrumb{
  padding: 0px 5px !important;
}
.btn-primary{
  background-color: #3c8dbc;
}
.form_question{
  font-size: 24px;
  color: #3c8dbc;
  padding-top: 7px;
}

.left-sdide{
  float: left !important;
}

.navbar-nav > .user-menu > .dropdown-menu dropdown-menu-right{
  width: 50px;
}
.loader{
  display: none;
}
@media only screen and (max-device-width: 767px){
  .width_notification{
      width: 94% !important;
  }
}
#myModal .modal-title{text-align: left;}
#register_details_body p{ text-align:left; margin:0px 0px 10px 0px;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
}
.profit_txt {
  font-weight: bold !important;
  color: #8b5cf6 !important;
  background-color: rgba(139, 92, 246, 0.1);
}
.new-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  color: #8b5cf6;
  background-color: rgba(139, 92, 246, 0.1);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.new-btn-danger {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  color: #f51111;
  background-color: rgb(243 48 48 / 10%);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 40px;
}
.new-btn-danger:hover {
  color: #dd0a0a;
  background-color: rgba(161, 6, 6, 0.1);
}

.header-outlet-name{
  border-right: 1px solid;
  border-left: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  color: 307e;
  color: #8b5cf6;
  letter-spacing: 1px;
}

.header-outlet-name small{
  display: block;
  text-align: right;
  font-size: 10px;
}

/*******************Clases para modal de ver factura****************/
#view_fe_detail_modal .hold_sale_right .top .top_middle h1 {
  background-color: rgba(139, 92, 246, 0.1);
  color: #333333;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 0px 0px 8px 0px;
  padding: 7px 5px;
  line-height: 19px;
}

#view_fe_detail_modal .hold_sale_right .top .top_middle .waiter_customer_table {
  width: 100%;
  font-size: 13px;
  margin: 0px 0px 5px 0px;
}

.hold_sale_right .top .top_middle .item_modifier_details {
  overflow: auto;
}
.hold_sale_right .top .top_middle .item_modifier_body {
  border-left: 1px solid rgba(169, 189, 204, 0.425);
  border-right: 1px solid rgba(169, 189, 204, 0.425);
  border-bottom: 1px solid rgba(169, 189, 204, 0.425);
}

#view_fe_detail_modal .hold_sale_right .modifier_item_header, #view_fe_detail_modal .hold_sale_right .modifier_item_details_holder .single_item_modifier .first_portion {
  display: grid;
  grid-template-columns: 42% 14% 10% 17% 17%;
}
.hold_sale_right .top .top_middle .item_modifier_details .modifier_item_header, .order_detail_modal_info_holder .top .top_middle .item_modifier_details .modifier_item_header {
  font-weight: 600;
  color: #333333;
  line-height: 30px;
  font-size: 14px;
}

#view_fe_detail_modal .modifier_item_header .first_column_header {
  padding-left: 5px;
}
.hold_sale_right .top .top_middle .item_modifier_details .modifier_item_header .column_hold, .order_detail_modal_info_holder .top .top_middle .item_modifier_details .modifier_item_header .column_hold {
  background-color: rgba(139, 92, 246, 0.1);
}

.hold_sale_right .top .top_middle .item_modifier_details .modifier_item_header .column_hold, .order_detail_modal_info_holder .top .top_middle .item_modifier_details .modifier_item_header .column_hold {
  background-color: rgba(139, 92, 246, 0.1);
}
.text-center {
  text-align: center !important;
}

#view_fe_detail_modal .modifier_item_header .fifth_column_header {
  padding-right: 5px;
}

.hold_sale_right .top .top_middle .item_modifier_details .modifier_item_header .column_hold, .order_detail_modal_info_holder .top .top_middle .item_modifier_details .modifier_item_header .column_hold {
  background-color: rgba(139, 92, 246, 0.1);
}
.text-right {
  text-align: right;
}

.hold_sale_right .top .top_middle .item_modifier_details .modifier_item_details_holder {
  font-size: 13px;
  line-height: 20px;
}
.hold_sale_height {
  height: 175px !important;
}

.hold_sale_right .top .top_middle .item_modifier_details {
  overflow: auto;
}

.hold_sale_right .top .top_middle .item_modifier_details .bottom_total_calculation_hold, .order_detail_modal_info_holder .top .top_middle .item_modifier_details .bottom_total_calculation_hold {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  padding: 5px;
}

.footer-content-hold {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
  gap: 15px;
}

.hold_sale_right .top .top_middle .item_modifier_details .bottom_total_calculation_hold_fe {
  font-size: 14px;
  line-height: 20px;
  /*font-weight: 500;*/
  padding: 5px;
}
